*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(208, 101, 208), rgb(177, 175, 177));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    
    padding: 1px 118px;
    background: linear-gradient(to right, rgb(208, 101, 208), rgb(177, 175, 177));
    color: rgba(48, 43, 43, 0.904);
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 25px;
    transition: background-color 1.0s ease;
    transition: transform 0.s ease-in-out;   
}
.btn:hover {
    background-color: pink;
    transform: rotate(180deg) scale(1.5);
}
.logo1 img
 {
    
    width: 300px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    
    width: 300px; 
    animation: crecer 2s infinite; 
}
@keyframes crecer {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); 
    }
}
    


